@import "color";

.navbar {
    background-color: $primaryColor;
    color: red;
}

.navbar-light .navbar-nav .nav-link {
    color: $white;

    &:hover{
        color: $secondaryColor;
    }
    &:focus {
        color: $secondaryColor;
    }
}

