@import 'color';

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.btn {
    color: $white !important;
}

.btn.edit {
    background-color: $secondaryColor;
}

.btn.delete,.btn.action {
    background-color: $red;
}

.btn.retour {
    background-color: $yellow;
}

.btn.send {
    background-color: $green;
}

h1 {
    text-align: center;
}
